.app {
  text-align: center;
}

.board {
  position: relative;
  width: 100%;
  max-width: 700px;
}

.board:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.content {
  width: 100%;
}

.board-row {
  height: 20%;
}

.square {
  width: 20%;
}

.square-black {
  background-color: black;
}

.square-white {
  background-color: whitesmoke;
}
